
.dropdown {
   padding:0 10px;
   color:#000000;
   font-size:20px;
   line-height: 60px;
   text-decoration:none;
   border-radius:2em;
 	float: left;
   display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
    padding:0 10px;
   	color:#000000;
   	font-size:20px;
   	line-height: 60px;
   	background-color: #d0dcc1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Giving a background-color to the nav container. */
nav {
   margin: 0px 0;
   background-color: #d0dcc1;
   border-radius:2em;
}
 
/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */
 
nav:after {
   content:"";
   display:table;
   clear:both;
}
 
/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
   padding:0;
   margin:0;
   list-style: none;
   position: relative;
   }
 
/* Positioning the navigation items inline */
nav ul li {
   margin: 0px;
   display:inline-block;
   float: left;
   }
 
/* Styling the links */
nav a {
   display:block;
   padding:0 10px;
   color:#000000;
   font-size:20px;
   line-height: 60px;
   text-decoration:none;
   border-radius:2em;
}
 
/* Background color change on Hover */
nav a:hover {
   background-color: #77a375;
}


input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 60%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 120px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 200px;
	background-color: #fff;
	border-color: #77a375;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
